@import "./variables.scss";
body {
    height: 100vh;
    margin: 0;
    width: 100vw;
    font-size: 14px;
}

a {
    // font-style: italic;
    /* font-weight: 600; */
}

a:link,
a:visited {
    color: #22313f;
    font-weight: 500;
    text-decoration: none;
}

a:hover,
a:active {
    color: #22313f;
    opacity: 0.8;
}

.el-dialog__headerbtn {
    font-size: 40px;
}
