@import "./variables.scss";
@import "./tailwind.scss";

body {
    height: 100vh;
    margin: 0;
    width: 100vw;
    font-size: 14px;
    background-color: $primary-color;
}

a {
    // font-style: italic;
    /* font-weight: 600; */
}

a:link,
a:visited {
    color: $text-color;
    font-weight: 500;
    text-decoration: none;
}

a:hover,
a:active {
    color: $text-color;
    opacity: 0.8;
}

.el-dialog__headerbtn {
    font-size: 40px;
}

.style-button {
    color: #000;
}

.style-audio-control {
    color: $text-color;
}

.el-autocomplete-suggestion li.highlighted,
.el-autocomplete-suggestion li:hover {
    color: $primary-color;
    font-size: 20px;
    line-height: 35px;
}
